.footer {
  background-color: #1f4372;
  color: white;
  padding: 60px 40px 30px;
  font-family: var(--body-font-family);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-col {
  flex: 1 1 200px;
  /* min-width: 180px; */
  width: 309px;
  height: 334px;
}

.footer-col h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {

  text-transform: uppercase;
    font-weight: 700;
    color: var(--white) !important;
    font-family: var(--heading-font-family) !important;
    letter-spacing: 1px !important;
    display: block;
    margin-bottom: 16px;
    font-size: 16px;

    width: 307px;
    height: 20px;
}

.footer-col ul li:hover {
  text-decoration: underline;
}

.social-icons li {
  display: flex;
  align-items: center;
  gap: 8px;

}

.newsletter-input {
  /* width: 100%; */

  width: 240px;
  height: 41px;
  /* padding: 12px; */
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 2px;
}

.footer-col .newsletter-btn-footer {
    width: 240px;
  height: 41px;
  background-color: #0078a1;
  color: white;
  border: none;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;

}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: #ccc;
}
